.photo-grid {
  display: grid;
  max-width: 1184px;
  min-height: 671px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0 auto;
  padding-bottom: 92px;
}
