.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
